<div class="container">
    <div class="abc">
        <div *ngFor="let m of modules">
            <div *ngIf="m.code == mCode">
                <div>
                    <h1><strong>Module Name: {{m.name}}</strong></h1>
                </div>
                <div>
                    <h2>Module Code: {{m.code}}</h2>
                </div>
                <div>
                    <h3>Enter your new Topic here:<br></h3><br>
                </div>
                <div>
                    <input [(ngModel)]="topic1" type="text" name="topic1" id="topic1" placeholder="The Topic goes here.."><br><br>
                </div>
                <div>
                    <input [(ngModel)]="topic2" type="text" name="topic1" id="topic1" placeholder="The Topic goes here.."><br><br>
                </div>
                <div>
                    <input [(ngModel)]="topic3" type="text" name="topic1" id="topic1" placeholder="The Topic goes here.."><br><br>
                </div>
                <a class="btn btn-primary" routerLink="/viewModules" (click)="addTopic(m,topic1,topic2,topic3)">Add to Cart</a>
            </div>
        </div>

    </div>
</div>